@model photo_hdr_duval.Models.Agent

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrenomAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrenomAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomEntreprise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomEntreprise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelSecondaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelSecondaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.AgentID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
