@model IEnumerable<photo_hdr_duval.Models.Agent>
@{
    ViewBag.Title = "Index";

}

<h2>Agents @Html.ActionLink("Ajouter un agent", "Create", "Agents", null, new { @class = "btn btn-success pull-right" })</h2>

<table class="table table-hover table-striped">

    @Html.Partial("../Shared/IndexTableHeaderAgents")

    @foreach (photo_hdr_duval.Models.Agent item in Model)
    {
        <tr>
            @{ViewBag.Agent = item;}
            @Html.Partial("../Shared/IndexTableDataAgents")
			<td class ="text-right">
				<div class="btn-group">
					@Html.ActionLink("Détails", "Details", new { id = item.AgentID }, new { @class = "btn btn-primary btn-sm" })
					@Html.ActionLink("Modifier", "Edit", new { id = item.AgentID }, new { @class = "btn btn-primary btn-sm" })
					@Html.ActionLink("Supprimer", "Delete", new { id = item.AgentID }, new { @class = "btn btn-danger btn-sm" })
				</div>
			</td>
        </tr>
    }

</table>
