@model photo_hdr_duval.Models.Agent
@{
    ViewBag.Title = "IndexTableDataRDVs";
}

<td>
    @Html.DisplayFor(modelItem => modelItem.NomAgent)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.PrenomAgent)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.NomEntreprise)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.Adresse)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.TelPrincipal)
</td>
<td>
    @if (Model.TelSecondaire > 0)
    {
		Html.DisplayFor(modelItem => modelItem.TelSecondaire);
    }
    else
    {
        <text>N/D</text>
    }

</td>



