@model photo_hdr_duval.Models.RDV

@{
    ViewBag.Title = "Details";
}
<div class="pull-right alert alert-danger" style="margin-top:20px;"><strong>Demandée</strong></div>

<h2>Rendez-vous avec @Html.DisplayFor(model => model.NomProprietaire), @Html.DisplayFor(model => model.PrenomProprietaire) </h2>

<div>
    <h4>@Html.DisplayFor(model => model.DateRDV) à @Html.DisplayFor(model => model.HeureRDV) </h4>
    <hr />

    <h3>Informations de contact:</h3>
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.EmailProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelPrincipalProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPrincipalProprietaire)
        </dd>
        @if (Model.TelSecondaire != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.TelSecondaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelSecondaire)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.AdressePropriete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressePropriete)
        </dd>

        @if (Model.Commentaire != null && !String.IsNullOrWhiteSpace(Model.Commentaire))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Commentaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Commentaire)
            </dd>
        }
        
        <dt>
            @Html.DisplayNameFor(model => model.Forfait.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forfait.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisiteVirtuelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisiteVirtuelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoutTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoutTotal)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.RDVID }) |
    @Html.ActionLink("Retourner à la liste", "Index")
</p>
