@model IEnumerable<photo_hdr_duval.Models.RDV>

@{
    ViewBag.Title = "Gestion des rendez-vous demandé";
    bool futureAsc = ViewBag.isAsc != null ? !ViewBag.isAsc : false;
    string arrow = futureAsc ? "▲" : "▼";
}

<h2>Index @Html.ActionLink("Ajouter un rendez-vous", "Create", "RDVs", null, new { @class = "btn btn-success pull-right" })</h2>

<table class="table table-hover table-striped">
    @Html.Partial("../Shared/IndexTableHeaderRDVs")
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
                @{ViewBag.item = item;}
                @Html.Partial("../Shared/IndexTableDataRDVs")
				<td class="text-right">
					<div class="btn-group">
						@Html.ActionLink("Détails", "Details", new { id = item.RDVID }, new { @class = "btn btn-primary btn-sm" })
						@Html.ActionLink("Modifier", "Edit", new { id = item.RDVID }, new { @class = "btn btn-primary btn-sm" })
						@Html.ActionLink("Supprimer", "Delete", new { id = item.RDVID }, new { @class = "btn btn-danger btn-sm" })
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

