@model IEnumerable<photo_hdr_duval.Models.RDV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter un Rendez-vous", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateDemande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureRDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomPrenomProprietaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateDemande)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeureRDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomPrenomProprietaire)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.RDVID }) |
            @Html.ActionLink("Détails", "Details", new { id=item.RDVID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.RDVID })
        </td>
    </tr>
}

</table>
