@model photo_hdr_duval.Models.RDV

@{
    ViewBag.Title = "UploadPhoto";
}

<h2>Téléverser des photos</h2>

@using (Html.BeginForm("UploadPhoto", "RDVs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span class="btn btn-default btn-file">
        Ajouter des photos... <input type="file" name="files" value="" multiple="multiple" id="upload" /><br />
    </span>
    <input type="submit" value="Téléverser" title="Téléverser" class="btn btn-primary" />
    <div style="color:Red;font-size:14px">@ViewBag.Message</div>
}

<h2 id="preview_title">Prévisualiser: <span class="small">(0)</span></h2>
<div id="preview" class="clearfix">

</div>


@section Scripts {
    @Scripts.Render("~/Scripts/ekko-lightbox.js")
    @Scripts.Render("~/Scripts/jquery.matchHeight-min.js")

    @Scripts.Render("~/Scripts/jquery.show-overlay.js")
    @Scripts.Render("~/Scripts/jquery.upload.js")
}


