@model photo_hdr_duval.Models.RDV

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rendez-vous</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateRDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureRDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureRDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrenomProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrenomProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelPrincipalProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPrincipalProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelSecondaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelSecondaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressePropriete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressePropriete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDemande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDemande)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
