@model photo_hdr_duval.Models.RDV

@{
	ViewBag.Title = "Details";
}


<h2>Rendez-vous de @Html.DisplayFor(model => model.NomProprietaire), @Html.DisplayFor(model => model.PrenomProprietaire) <div class="label label-danger pull-right">Demandée</div></h2>
@if (Model.DateRDV != null)
{
	<h4>@Html.DisplayFor(model => model.DateRDV) à @Html.DisplayFor(model => model.HeureRDV) </h4>
}
<hr />

<div>
	<h3>Informations de contact:</h3>
	<dl>

		<dt>
			Email
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EmailProprietaire)
		</dd>

		<dt>
			Téléphone principal
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TelPrincipalProprietaire)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TelSecondaire)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TelSecondaire)
		</dd>

		<dt>
			Adresse
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AdressePropriete)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>

		@if (Model.Commentaire != null && !String.IsNullOrWhiteSpace(Model.Commentaire))
		{
			<dt>
				@Html.DisplayNameFor(model => model.Commentaire)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Commentaire)
			</dd>
		}
	</dl>
</div>

@if (Model.PhotoProprietes != null && Model.PhotoProprietes.Count > 0)
{
	<div class="row">
		<h2>Photos:</h2>
		@foreach (photo_hdr_duval.Models.PhotoPropriete photo in Model.PhotoProprietes)
		{
			string chemin = @Url.Content("~/Images/" + photo.Url);

			<div class="col-xs-6 col-sm-4 col-md-3">
				<a class="thumbnail" data-footer="@photo.DescriptionPhoto" data-toggle="lightbox" href="@chemin" data-gallery="photos">
					<img src="@chemin" alt="@photo.DescriptionPhoto" class="img-responsive" />
				</a>
			</div>
		}
	</div>
}

<div class="btn-group">
    @Html.ActionLink("Modifier", "Edit", new { id = Model.RDVID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Retourner à la liste", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {

	@Scripts.Render("~/Scripts/ekko-lightbox.js")
	@Scripts.Render("~/Scripts/jquery.matchHeight-min.js")
	<script type="text/javascript">
		$(".thumbnail").matchHeight();

		$(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
			event.preventDefault();
			$(this).ekkoLightbox();
		});
	</script>
}
