@model photo_hdr_duval.Models.RDVDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<h2>Rendez-vous avec @Html.DisplayFor(model => model.RDV.PrenomProprietaire) @Html.DisplayFor(model => model.RDV.NomProprietaire) <span class="pull-right">@Html.Partial("RDVStatut", Model.Statut)</span></h2>
@if (Model.RDV.DateRDV != null)
{
    <h4>@Html.DisplayFor(model => model.RDV.DateRDV) à @Html.DisplayFor(model => model.RDV.HeureRDV) </h4>
}
<hr />

<div class="row">
    <div class="col-sm-6">
        <h3>Informations de contact:</h3>
        <dl>

            <dt>
                @Html.DisplayNameFor(model => model.RDV.EmailProprietaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.EmailProprietaire)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RDV.TelPrincipalProprietaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.TelPrincipalProprietaire)
            </dd>

            @if (Model.RDV.TelSecondaire != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.RDV.TelSecondaire)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RDV.TelSecondaire)
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.RDV.AdressePropriete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.AdressePropriete)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RDV.CodePostal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.CodePostal)
            </dd>

            @if (Model.RDV.Commentaire != null && !String.IsNullOrWhiteSpace(Model.RDV.Commentaire))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.RDV.Commentaire)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RDV.Commentaire)
                </dd>
            }

        </dl>
    </div>

    <div class="col-sm-6">
        <h3>Informations de facturation:</h3>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Forfait.Prix)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Forfait.Prix)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RDV.Deplacement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.Deplacement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RDV.VisiteVirtuelle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.VisiteVirtuelle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RDV.CoutTotalAvantTaxes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.CoutTotalAvantTaxes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CoutTVQ)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CoutTVQ)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CoutTPS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CoutTPS)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.RDV.CoutTotalApresTaxes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDV.CoutTotalApresTaxes)
            </dd>

        </dl>
    </div>

</div>

<div class="row" id="photo_gallery">
    <h2>Photos: @if (Model.Photos != null && Model.Photos.Count > 0) { @Html.ActionLink("Télécharger tout", "DownloadAll", "PhotoProprietes", new { id = Model.RDV.RDVID }, new { @class = "btn btn-success pull-right" }); }  </h2>
    @if (Model.Photos == null || Model.Photos.Count == 0)
    {
        <small>Il n'y a pas encore de photos pour ce rendez-vous</small>
    }
    @foreach (photo_hdr_duval.Models.PhotoPropriete photo in Model.Photos)
    {
        string chemin = @Url.Content(photo.Url);

        <div class="col-xs-6 col-sm-4 col-md-3 thumbnail-container" id="@photo.PhotoProprieteID">
            <div class="buttons">
                @Html.ActionLink(" ", "DownloadPhoto", "PhotoProprietes", new { id = photo.PhotoProprieteID }, new { @class = "glyphicon glyphicon-save", title = "Télécharger la photo" }) @*Télécharger*@
            </div>
            <a class="thumbnail" data-footer="@photo.DescriptionPhoto" data-toggle="lightbox" href="@chemin" data-gallery="photos">
                <img src="@chemin" alt="@photo.DescriptionPhoto" class="img-responsive" />
            </a>
        </div>
    }
</div>
<hr />
<div class="btn-group">
    @Html.ActionLink("Modifier", "Edit", new { id = Model.RDV.RDVID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Retourner à la liste", "Index", null, new { @class = "btn btn-default" })
</div>


@section Scripts {

    @Scripts.Render("~/Scripts/ekko-lightbox.js")
    @Scripts.Render("~/Scripts/jquery.matchHeight-min.js")
    @Scripts.Render("~/Scripts/jquery.image-buttons.js")
}
