@model photo_hdr_duval.Models.RDV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RDV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateRDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureRDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureRDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomPrenomProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPrenomProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelPrincipalProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPrincipalProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelSecondaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelSecondaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressePropriete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressePropriete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailProprietaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RDVID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
